<ion-header>
  <ion-navbar>
    <ion-title>{{ this.worldGoal.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="img-div">
    <img [src]="worldGoal.imgUrl">
  </div>
  <button class="directions-button" ion-button full (click)="navigateToDirectionsPage()" no-margin>{{"navigateBtn" |
    translate}}
  </button>
  <h2 class="title" no-margin style="text-align: center;">{{this.worldGoal.title}}</h2>
  <p no-margin class="goal-description">{{this.worldGoal.description}}</p>
  <!-- World goal accordion menu. -->
  <ion-list class="accordion-list">
    <ion-list-header *ngFor="let item of accordionMenu; let i = index" no-lines no-padding>
      <button ion-item (click)="toggleSubMenu(i);" (click)="clickMenuItem(i, item);" detail-none
              class="section">
        <ion-icon item-right name="arrow-forward" *ngIf="item.menuItems && !item.open"></ion-icon>
        <ion-icon item-right name="arrow-down" *ngIf="item.menuItems && item.open"></ion-icon>
        {{ item.title | translate }}
      </button>
      <ion-list *ngIf="item.menuItems && item.open" no-lines>
        <!-- Second Level:Children's Submenu - Artwork etc.. -->
        <ion-list-header *ngFor="let child of item.menuItems;" (click)="navigateToSubPage(child)" no-padding>
          <ion-item ion-item detail-none class="child-item" text-wrap>
            <h2>{{ child.title | translate}}</h2>
          </ion-item>
        </ion-list-header>
      </ion-list>
    </ion-list-header>
  </ion-list>
</ion-content>
