<ion-menu [content]="content">
  <ion-header style="position: relative;">
    <ion-toolbar>
      <div style="right: 2px; top: 10px; position: absolute;">
        <button no-margin no-padding ion-button small
                style="height: 26px; border-radius: 20px;"
                (click)="changeLanguage('da')">
          <img src="assets/imgs/flag_da.png"/>
        </button>
        <button no-margin no-padding ion-button small
                style="height: 26px; border-radius: 20px;"
                (click)="changeLanguage('de')">
          <img src="assets/imgs/flag_de.png"/>
        </button>
        <button no-margin no-padding ion-button small
                style="height: 26px; border-radius: 20px;"
                (click)="changeLanguage('en')">
          <img src="assets/imgs/flag_en.png"/>
        </button>
      </div>
      <img *ngIf="curLang == 'da' || defaultl" src="assets/imgs/logo-dansk-white.png"/>
      <img *ngIf="curLang == 'en'" src="assets/imgs/global-goals-logo-white.png"/>
      <img *ngIf="curLang == 'de'" src="assets/imgs/logo-dansk-white.png"/>
      <!--<h2 style="font-size: 2rem; font-weight: 500; color: #fff; padding-left: 16px;">{{"appSidemenuTitle" | translate}}</h2> -->
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button class="worldgoal-list-button" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
